html{
  height: 100%;
  width: 100%;
  background-color: black;
}

#numlabel {
  display: block;
  text-align: center;
  color: #33cc33;
  padding: 1px;
  border-radius: 10px;
}

#inc {
  margin: auto;
}

#title {
    border-radius: 10px;
    padding: 10px;
    color: #33cc33;
    background-color:#33cc33;
    margin-bottom: 30px;
}

#header{
  color: #33cc33;
  margin-bottom: 20px;
}

#globeimg {
  width: 25%;
  height: 45%;
  position: absolute;
  left: 65px;
  bottom: 70px;
}


#overviewtitle{
  position: fixed;
  top:15px;
  right: 0;
  width: 300px;
  color:azure;
}

#optionA4{
  margin-right: 20px;
  margin-left: 20px;
}

#entitybtn{
  margin-bottom: 20px;
  margin-left:20px
}

#stockbtn{
  margin-left:25px;
}


button {
  background-color: #33cc33;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.1s ease-in;
}

button:hover {
  background-color: rgb(9, 114, 33);
  color:#33cc33;
  transform: scale(1.1);
}


.dropdown{
  position: relative;
  display: inline-block;
}

.dropdowncontent {
  display: none;
  position: absolute;
  background-color: #33cc33;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.dropdowncontent a:hover {background-color: #f1f1f1}

.dropdowncontent button{
  width:100%;
}

.dropdown:hover .dropdowncontent {
  display: block;
  width: 100%;
}

table, th, td {
  border:1px solid orange;
}

.navigate {
  text-align: left;
  margin-top: 10px;
}


.dropdown {
  display: inline-block;
  margin-right: 20px;
  vertical-align: top;
}

.viewtables {
  display: inline-block;
  vertical-align: top;
}

#map {
  border: 5px solid #33cc33;
}

div.overview{
  border: 5px solid #33cc33;
  position: absolute;
  right: 10px;
  top: 100px;
  display: block;
  margin-top: 50px;
}

#createnewentitydiv{
  color:white;
  margin-left: 30px;
}

#update{
  color:white;
}

#removeentitydiv{
  color:white;
}

#updateentitydiv{
  color:white;
  margin-left: 30px;
}

#removeentitydiv{
  color:white;
  margin-left: 30px;
}